body {
    margin: 0;
    padding:0;
    font-family: 'Open Sans , sans-serif';
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav img {
    height: 45px;
}
.pepsi {
    background-image: url('images/flower.jpg');
    background-repeat: no-repeat;
     height: 100vh; 
     background-position: center; 
}

.paragraph-container{
    display: flex;
}
img {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
}
.box1 {
    background-color: blue;
    width: 50%;
    margin-top:250px;    
}
.box2 {
    background-color: black;
    width:40%;
    z-index: -1;
    margin-left: 400px;
    margin-top: 250px;
}
.card-container{
    display: flex;
    justify-content: space-between;
    margin:20px;
}
.card { 
   padding: 20px;
   width: 400px;
   height: 150px;
   box-sizing: border-box;
   background-color: #061c2c;
  flex: 0 0 30%;
   justify-content: space-between;
}
.card img {
    width: 65px;
    height:30%;
}
.paragraph {
    max-width: 600px;
    display: flex;
    justify-content: center;
}
.writting {
    font-size: 22px;
    line-height: 33px;
    text-align: left;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 200px;

}
.card1-container{
    display: flex;
    justify-content: space-between;
    margin:20px;
}
.card-orange {
    background-color: #244ac2;
    display: flex;
    align-items: space-evenly;
    color: #ffffff;
    margin-bottom: 30px;
    margin-left: 15px;
    padding-left: 10px;
    height: 30px;
}
.card-orange img {
    width: 30px;
    height: 25px;
}
.fund {
    color: #ffffff;
    font-size: 14px;
    line-height: 38px;
    letter-spacing: normal;   
}   

